<div class="ui segment">
  <h4 class="ui dividing header">Dashboard</h4>
  <div class="ui horizontal segments">
    <div class="ui segment">
      <h5 class="ui dividing header">Sales</h5>
      <p>
        Month to date: $80000<br>
        Quarter to date: $300000
      </p>
    </div>
    <div class="ui segment">
      <h5 class="ui dividing header">Purchases</h5>
      <p>
        Total Outstanding: $1231212 <br>
        Total : $123123
      </p>
    </div>
    <div class="ui segment">
      <h5 class="ui dividing header">Inventory</h5>
      <p>
        Total Outstanding: $1231212 <br>
        Total : $123123
      </p>
    </div>
  </div>
</div>