<h2>Freaking HATE it</h2>
<ul>
  <li class="midlaner">Fake people</li>
  <li class="midlaner">Pink Socks</li>
  <li class="toplaner">Hot Weather</li>
  <li class="midlaner">Jogging</li>
  <li class="toplaner">Bills</li>
</ul>

Message: {{ yay }}