<div class="ui vertical fluid menu">
    <a class="active item">Purchases</a>
    <a href="/purchases/new" class="item">Add Purchase</a>
    <a href="/purchases" class="item">Purchase Records</a>
    <a href="/purchases/outstanding" class="item">Outstanding Bills</a>
</div>
<div class="ui vertical fluid menu">
    <a class="active item">Inventory</a>
    <a href="/reports/invlevel" class="item">Inventory levels</a>
    <a href="/products" class="item">Products</a>
    <a href="/suppliers" class="item">Suppliers</a>
</div>