<div class="ui vertical menu">
    <div class="item">
        <div class="header">Purchases</div>
        <div class="menu">
            <a class="item">Record Purchase</a>
            <a class="item">List Purchases</a>
        </div>
    </div>
    <div class="item">
        <div class="header">Inventory</div>
        <div class="menu">
            <a class="item">Products</a>
            <a class="item">Categories</a>
            <a class="item">Suppliers</a>
            <a class="item">]Customers</a>
        </div>
    </div>
    <div class="item">
        <div class="header">Administration</div>
        <div class="menu">
            <a class="item">Payments</a>
            <a class="item">Budgets</a>
            <a class="item">Setup</a>
        </div>
    </div>
    <div class="item">
        <div class="header">Support</div>
        <div class="menu">
            <a class="item">E-mail Support</a>
            <a class="item">FAQs</a>
        </div>
    </div>
</div>