<div class="ui vertical fluid menu">
    <a class="active item">Purchases</a>
    <a class="item">List Purchases</a>
    <a class="item">Record Purchase</a>
</div>
<div class="ui vertical fluid menu">
    <a class="active item">Inventory</a>
    <a class="item">Inventory levels</a>
    <a href="/products" class="item">List Products</a>
    <a href="/products/new" class="item">Add Product</a>
    <a class="item">Add Supplier</a>
</div>
