<h2>Freaking love it</h2>
<ul>
  <li class="midlaner">Whiskey</li>
  <li class="midlaner">Char Kway Teow</li>
  <li class="toplaner">Hokkien Mee</li>
  <li class="midlaner">Laksa</li>
  <li class="toplaner">Hor Fun</li>
</ul>