<div class="ui vertical fluid menu">
    <a href="/reports" class="item">Dashboard</a>
    <a href="/reports/invlevel" class="item">Current Inventory</a>
    <a href="/reports/cogs" class="item">COGS</a>
</div>
<div class="ui vertical fluid menu">
    <a class="active item">Admin</a>
    <a href="/reports/topsellers" class="item">Top Sellers</a>
    <a href="/sales" class="item">Something</a>
    <a href="/suppliers" class="item">Something</a>
</div>