<div class="ui vertical fluid menu">
    <a class="active item">Transactions</a>
    <a href="/sales" class="item">Record Sale</a>
    <a href="/sales/search" class="item">Transactions list</a>
</div>
<div class="ui vertical fluid menu">
    <a class="active item">Admin</a>
    <a href="/products" class="item">Add products</a>
    <a href="/sales" class="item">Salesperson</a>
    <a href="/suppliers" class="item">Customers</a>
</div>