<div class="ui menu">
      <a href="/" class="item">SAMIMA</a>
      <a href="/sales" class="item">Sales</a>
      <a href="/purchases/new" class="active item">Inventory</a>
      <div class="ui dropdown item">
        Reports
        <i class="dropdown icon"></i>
        <div class="menu">
          <div href="/reports" class="item">Dashboard</div>
          <div class="divider"></div>
          <div href="/sales/search" class="item">Daily Sales</div>
          <div class="item">COGS</div>
          <div href="/reports/invlevel" class="item">Stock levels</div>
          <div class="divider"></div>
          <div class="item">Custom report</div>
        </div>
      </div>
      <a class="item">Delivery Orders</a>
      <div class="right menu">
        <a href="/logout" class="item">Logout</a>
      </div>
    </div>