<form class="ui form">
    <h4 class="ui dividing header">Add new product</h4>
    <div class="field">
        <div class="three fields">
            <div class="field">
                <label>SKU</label>
                <input type="text" name="SKU" tabindex="1" placeholder="UPC8838B">
            </div>
            <div class="field">
                <label>Brand</label>
                <input type="text" name="brand" tabindex="1" placeholder="Yamaha">
            </div>
            <div class="field">
                <label>Model</label>
                <input type="text" name="Model" tabindex="1" placeholder="THR10-II Wireless">
            </div>
        </div>
    </div>
    <div class="field">
        <div class="three fields">
            <div class="field">
                <label>S$ MSRP</label>
                <input type="text" name="msrp" tabindex="1" placeholder="599">
            </div>
            <div class="field">
                <label>S$ MAP</label>
                <input type="text" name="map" tabindex="1" placeholder="539.50">
            </div>
            <div class="field">
                <div class="ui toggle checkbox" style="margin-top:8px">
                    <input type="checkbox" name="gift" tabindex="1" class="active">
                    <label>Inventory item</label>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <label>Product Description</label>
        <div class="fields">
            <input type="text" name="product_desc" tabindex="1"
                placeholder="20W Portable Desktop amplifire with wireless reciever">
        </div>
    </div>

    <div class="ui segment">
        <div class="ui button" tabindex="1">Add Product</div>
    </div>
</form>