<div class="ui segment">
  <h4 class="ui dividing header">
    Server Error:
  </h4>
  <div class="ui segment">Error message: {{message}}</div>

  Shit happens, just let Scott knows about the error message and how it happened and he will fix it ASAP.
</div>