<div class="ui segment">
  <h4 class="ui dividing header">
    Server Error:
  </h4>
  Error message: {{message}}

  Shit happens, just let Scott knows about the error message and how it happened and he will fix it ASAP.
</div>