<div>
    <div class="ui container" id="app">
    <div class="ui raised segment" id="nav">
      <div class="ui secondary pointing menu">
  		<a class="active item" data-tab="first">SAMIMA</a>
  		<a class="item" data-tab="second">Reports</a>
  		<a class="item" data-tab="third">Help</a>
  		<div class="right menu">
    		<a class="ui item">Logout</a>
  		</div>
	</div>
    </div>
    <router-view />
  </div>
    Hey hey this is the content
    {{> lovedIt}}
    {{> hatedIt}}
</div>