Body: main.hbs
<div class="ui grid">
  <div class="four wide column">
    {{> inventoryMenu }}
  </div>
  <div class="twelve wide stretched column">
    <div class="ui segment">
      {{> hatedIt}}
    </div>
  </div>
</div>