<h4 class="ui dividing header">Past purchases</h4>

{{#each purchase}}
  <div class="ui accordion">

  </div>
  <td>{{this.name}}</td>
  <td>{{this.business_name}}</td>
  <td>{{this.address}}</td>
</tr>
{{/each}}