<h4 class="ui dividing header">Past purchases</h4>

    {{#each supplier}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.business_name}}</td>
      <td>{{this.address}}</td>
    </tr>
    {{/each}}